.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

h1{
  text-align: center;
  font-size: 45px;
  padding-top: 2%;
}