<app-user-component></app-user-component>

<div class="center-container">
    <div class="example-container">
    <mat-form-field floatLabel="always">
        <mat-label>User email</mat-label>
        <input matInput type="email" class="example-right-align" placeholder="example@email.com">
        <button mat-icon-button matSuffix [attr.aria-pressed]="hide"></button>
      </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
      <div class="button-container">
          <button mat-raised-button color="primary" (click)="login()">Login</button>
          <button mat-raised-button color="accent" (click)="register()">Register</button>
      </div>
    </div>  
</div>
